@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap");

$font: "Montserrat", sans-serif;
$primary-color: #3e6f9e;

body {
  font-family: $font;
  color: $primary-color;
  margin: 0;

    .map {
        width: 100%;
        height: 100vh;
    }
}

